.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #000000;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  height: 436px;
  border-radius: 20px;
  border-width: 1px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  color: #0000004d;
  border: none;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 100%;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input:hover {
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  gap: 12px;
  background: #0000004d;
  color: #fff;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  border-radius: 4px;
  border: none;
  margin-top: auto;
}

.modal__submit:hover {
  cursor: pointer;
}

.modal__label {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}

.modal__input {
  width: 440px;
  height: 24px;
  opacity: 1;
  top: 293px;
  left: 500px;
  border-width: 1px;
  border: none;
  border-bottom: solid;
}

.modal__legend {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}

.modal__label_type_radio {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}
