.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch:hover {
  transform: translateX(2px);
  border: 2px solid rgba(0, 0, 0, 1);
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 27px;
  right: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 1s;
}

.toggle-switch__text {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__text_color_white {
  color: white;
}
