.cards {
  margin-top: 40px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 20px;
}

.card__image {
  top: 279px;
  left: 40px;
  opacity: 1;
  border: solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 325px;
  height: 328px;
}

.card__image:hover {
  cursor: pointer;
}

.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__like {
  position: absolute;
  top: 12px;
  right: 76px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.card__like-img {
  transition: transform 0.15s ease;
}

.card__like--active .card__like-img {
  transform: scale(1.05);
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0px;
  background: rgba(255, 255, 255, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  height: 20px;
  border-radius: 4px;
}

.cards__text {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0 0 34px;
}
