.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #000000;
}

.header__add-clothes-btn {
  margin: 0 20px 0 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  border: none;
  background: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-name {
  margin: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}

.header__register-btn {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  border: none;
  background: transparent;
  padding: 0px;
}

.header__login-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  border: none;
  background: transparent;
  padding: 0px;
}

.header__register-btn:hover {
  cursor: pointer;
}
.header__login-btn:hover {
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 627px) {
}
