.modal__content_type_image {
  width: 498px;
  height: 610px;
  opacity: 1;
  border-radius: 16px;
  padding: 0px;
}

.modal__image {
  border-radius: 16px;
  height: 80%;
  width: 100%;
}

.modal__footer {
  margin: 20px 0px 32px 32px;
}

.modal__caption {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 1;
  margin: 0px 0px 12px 0px;
}

.modal__weather {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0px;
}

.modal__delete {
  margin-top: 24.6px;
  position: relative;
  left: 343px;
  bottom: 84px;
  background: none;
  color: rgba(255, 77, 0, 1);
  border: none;
  width: 98px;
  height: 14px;
  opacity: 1;
  font-weight: 700;
}

.modal__delete:hover {
  cursor: pointer;
}

.modal__delete-preview {
  flex-direction: column;
  display: flex;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 670px;
  height: 280px;
  opacity: 1;
}

.modal__delete-text {
  margin: 60px 152px 0px 152px;
  width: 367px;
  height: 48px;
  top: 331px;
  left: 536px;
  opacity: 1;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.modal__delete-btn {
  top: 419px;
  left: 651px;
  opacity: 1;
  border: none;
  background: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.modal__delete-btn:hover {
  cursor: pointer;
  color: rgba(255, 77, 0, 1);
}
.modal__cancel-btn {
  top: 419px;
  left: 651px;
  opacity: 1;
  border: none;
  background: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__cancel-btn:hover {
  cursor: pointer;
  color: rgba(255, 77, 0, 1);
}
