.modal__content_type_image {
  width: 498px;
  height: 610px;
  opacity: 1;
  border-radius: 16px;
  padding: 0px;
}

.modal__image {
  border-radius: 16px;
  height: 80%;
  width: 100%;
}

.modal__footer {
  margin: 20px 0px 32px 32px;
}

.modal__caption {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 1;
  margin: 0px 0px 12px 0px;
}

.modal__weather {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0px;
}

.modal__delete {
  margin-top: 24.6px;
  position: relative;
  left: 343px;
  bottom: 84px;
  background: none;
  color: rgba(255, 77, 0, 1);
  border: none;
  width: 98px;
  height: 14px;
  opacity: 1;
}

.modal__delete:hover {
  cursor: pointer;
}
