.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: auto;
}

.footer__name {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: bottom;
}

.footer__date {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: bottom;
}
